body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ux-gradient {
	border-style: solid;
	border-width: 0.25rem;
	border-image: linear-gradient(139deg, #e02aff, #c12127, #ff4b01, #fb8817) 3;
}

.ux-place-card:hover {
	border-color: var(--primary);
}

.ux-cursor-pointer {
	cursor: pointer;
}

.nav-tabs .nav-item {
	cursor: pointer;
}

.ux-route-item {
	position: relative;
}

.ux-route-item:after {
	content: "";
	display: block;
	position: absolute;
	height: calc(50% - 10px);
	width: 1px;
	left: 18px;
	bottom: 0;
	background-color: var(--primary);
}
.ux-route-item:last-child:after {
	display: none;
}
.ux-route-item:before {
	content: "";
	display: block;
	position: absolute;
	height: calc(50% - 10px);
	width: 1px;
	left: 18px;
	top: 0;
	background-color: var(--primary);
}
.ux-route-item:first-child:before {
	display: none;
}

.nav-link.active {
	font-weight: 700;
}

.place-description {
	height: 200px;
	overflow-y: auto;
}
